[Desktop Entry]
Type=Application
Name=Obsidian
Icon={{ obsidian_icon_dest }}
Exec={{ obsidian_app_image_path }} --no-sandbox
Categories=Office
Terminal=false
MimeType=x-scheme-handler/obsidian;text/html;
