[Desktop Entry]
Type=Application
Exec={{ obsidian_bin.dest }}
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Obsidian
Name=Obsidian
Comment[en_US]=Obsidian Note Taking
Comment=Start Obsidian

